{% extends 'layout.twig' %}

{% block content %}
    <div class="flex pt-10 pb-10 items-center justify-center">
        <div class="bg-white p-8 rounded-lg" style="height: 25vh;">
            <h1 class="text-8xl text-gray-700 font-bold text-center">Better Than TVNET</h1>
        </div>
    </div>

    {# {% include 'SearchMenu.twig' %} #}

    <div class="flex justify-center">
        <div class="grid grid-cols-2 gap-6 bg-gray-600 py-10 px-5">
            {% for article in articles %}
                <div class="max-w-md w-full mx-auto">
                    <div class="image-container">
                        <a href="/article/{{ article.id }}">
                            <img src="{{ images[loop.index0] }}" alt="Random Image" class="mx-auto mb-4">
                        </a>
                        <div class="image-overlay">
                            <h2 class="text-2xl text-white font-bold text-center pb-5">
                                <a href="/article/{{ article.id }}" class="text-white">
                                    {{ article.title | capitalize }} ({{ article.id }})
                                </a>
                            </h2>
                            <p class="text text-gray-200 p-2">{{ article.body | capitalize }}</p>
                            <p class="text-l text-indigo-200 text-right p-3">
                                Written by <a href="/user/{{ article.userId }}">{{ users[article.userId].name }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="h-16 bg-white"></div>
{% endblock %}