{% extends 'layout.twig' %}

{% block content %}
    <div class="flex justify-center py-20">
        <div class="max-w-3xl px-6">
            <div class="mb-6">
                <h1 class="text-5xl font-bold pb-5">{{ article.getTitle() }}</h1>
                <p class="text-indigo-800">Written by {{ article.getAuthor().getName() }}</p>
            </div>
            <div class="mb-6">
                <img src="{{ image }}" alt="Random Image" class="w-full rounded-lg">
            </div>
            <div class="mb-6">
                <p class="text-lg">Article text: {{ article.getBody() }}</p>
            </div>
            <div>
                <h2 class="text-xl font-bold mb-4">Comments</h2>
                <ul>
                    {% for comment in comments %}
                        <li class="mb-4">
                            <p class="text-gray-800">{{ comment.getName() }}</p>
                            <p class="text-gray-600 font-bold">User {{ comment.getId() }} {{ comment.getEmail() }}</p>
                            <p class="text-gray-700">{{ comment.getBody() }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
