{% extends 'layout.twig' %}

{% block content %}
    <div class="flex justify-center py-10">
        <div class="max-w-3xl px-6 bg-white rounded-lg shadow-lg">
            <div class="flex items-center justify-center mt-8">
                <div class="h-32 w-32 rounded-full bg-gray-300 flex items-center justify-center">
                    <span class="text-4xl text-gray-500"></span>
                </div>
            </div>
            <div class="text-center mt-6">
                <h1 class="text-3xl font-bold">{{ author.name }}</h1>
                <p class="text-gray-600">{{ author.username }}</p>
                <p class="text-gray-600">{{ author.email }}</p>
            </div>
            <hr class="my-6 border-gray-300">
            <div class="mt-6">
                <h2 class="text-xl font-bold mb-4">Articles by {{ author.name }}</h2>
                <ul class="space-y-4">
                    {% for article in articles %}
                        <li>
                            <h3 class="text-lg text-indigo-700">
                                <a href="/article/{{ article.id }}">{{ article.title | capitalize }}</a>
                            </h3>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="mt-6">
                <h2 class="text-xl font-bold mb-4">Comments by {{ author.name }}</h2>
                <ul class="space-y-4">
                    {% for comment in comments %}
                        <li>
                            <h3 class="text-lg">
                                {{ comment.name }}
                            </h3>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}